.task-unit {
    border: 2px solid #5fa0de;
    border-radius: 4em/8em;
    margin-bottom: 5px;
    padding: 10px 24px;
    width: 400px;
    box-shadow: 5px 5px 7px 0px #8692b3;
}

.task-date{
    text-align: right;
}

.task-unit-middle h2 {
    text-align: center;
}

.task-unit-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}